/* app/styles.css */

.nav {
  background-color: #FFF;
}

.nav a {
  color: #30cae9;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-decoration: none;
  min-width: 50px;
  padding: 40px;
  vertical-align: middle;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-family: 'Amatic SC', cursive;
  font-size: 64px;
  color: #30cae9;
  font-weight: bold;
  padding: 20px;
}

.logo img {
  width: 50px;
  vertical-align: middle;
}

.body {
  background-color: #EEEEEE;
  padding: 5% 7%;
}

a {
  color: #30cae9;
  text-decoration: none;
}

a:hover {
  color: #27acc6;
}

body {
  font-family: Lucida Grande, Helvetica, 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
}

h3 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.75em;
}
