/* entire container, keeps perspective */
.flip-card {
  perspective: 1000px;
}

  /* flip the pane when hovered */
.flip-card:hover .flipper, .flip-card.flipped .flipper {
  transform: rotateY(180deg);
}

.flip-card, .front, .back {
/*  width: 320px;
  height: 480px;*/
}
.front:after {
    content: "";
    display: block;
    clear: both;
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
	backface-visibility: hidden;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  float: left;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  position: relative;
}


