/* styles.css */

.glossary h3 {
  font-variant: small-caps;
}
.farms ul {
  padding-left: 20px;
  margin: 0px;
}
.card-image {
  overflow: hidden;
  vertical-align: middle;
}

.card-image img {
  width: 100%;
}

.entry {
  padding-bottom: 1em;
}
.col {
  padding: 0px;
}
